<div class="border-div">

<h1 class="center-text">Resend confirmation instructions</h1>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-signin"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

    <%= f.input :email, label_html: { class: 'screenreader' }, required: true, autofocus: true %>

    <%= f.button :submit, "Resend confirmation instructions", class: "btn btn-primary btn-block" %>

  <%= render "devise/shared/links" %>

<% end %>

</div>

